<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findyou" >

    <!-- 发短信权限 针对Android 6.0以下的机型自动添加权限，6.0以上的机型需自己手动开启 -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 去电权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <!-- 接受短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService">

        </service>
        
        <activity android:name=".FirstActivity">

        </activity>

        <activity android:name=".SecondActivity">

        </activity>

    </application>


</manifest>